:root {
  --color-text: #fff;
  --color-bg: #333;

  --font-primary: "Poppins", sans-serif;
  --font-secondary: "Open Sans", sans-serif;

  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  --bp-mobile: 576px;
  --bp-tablet: 768px;
  --bp-laptop: 1024px;
  --bp-desktop: 1451px;
}
* {
  box-sizing: border-box;
  color: var(--color-text);
  text-decoration: none;
}
body {
  background-color: var(--color-bg);
  color: var(--color-text);
}
.header {
  background-color: #33333360;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 11;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0 auto;
  padding: 28px 20px;
}
.header-navigation {
  display: none;
}
.header__filter {
  display: none;
}
.burger-menu {
  padding: 19.5px 15px;
  border-radius: 50%;
  background-color: #ffffff20;
}
.burger-menu input {
  display: none;
}
.burger-menu__line {
  display: block;
  width: 24px;
  height: 5px;
  background-color: #fff;
  border-radius: 2px;
  transition: all 0.3s ease;
}
.burger-menu__line--lower {
  transform: translateY(4px);
}
.burger-menu__line--upper {
  transform: translateY(-4px);
}
.burger-menu:has(input:checked) .burger-menu__line--center {
  transform: rotate(90deg);
  opacity: 0;
}

.burger-menu:has(input:checked) .burger-menu__button {
  transform: translateX(3px);
}
.burger-menu:has(input:checked) .burger-menu__line--upper {
  transform: rotate(45deg) translateY(4px) translateX(4px);
}
.burger-menu:has(input:checked) .burger-menu__line--lower {
  transform: rotate(-45deg) translateY(-3px) translateX(3px);
}
.mobile-navigation {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  background-color: #fff;
  transition: all 0.5s ease-in;
  display: grid;
  align-items: center;
  align-content: space-evenly;
}

body:has(.burger-menu input:checked) .mobile-navigation {
  left: 0;
}
body:has(.burger-menu input:checked) {
  overflow: hidden;
}
.mobile-navigation__list {
  display: grid;

  gap: 40px;
}
body:has(.burger-menu input:checked) .mobile-navigation__list {
  display: grid;
}
.mobile-navigation__list li {
  text-align: center;
}
.mobile-navigation__list li a {
  font-family: var(--font-primary);
  font-weight: var(--font-weight-semibold);
  font-size: x-large;
  color: var(--color-bg);
}
.mobile-navigation__filter {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.mobile-navigation__filter:has(li form) {
  display: flex;
  flex-wrap: wrap;
  padding: 0 20px;
}
.mobile-search-item {
  flex: 1;
}

.mobile-navigation__filter button {
  border: none;
  border-radius: 50%;
  background-color: var(--color-bg);
  padding: 15px 16.7px;
}
.mobile-navigation__filter form {
  width: 100%;
  border-radius: 12px;
  background-color: var(--color-bg);
  padding: 4px 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.mobile-navigation__filter form input {
  flex: 1;
  outline: none;
  border: none;
  background-color: initial;
}

.mobile-navigation__filter form img {
  display: block;
  width: 20px;
}
.hero {
  height: 100vh;
  background-position-x: -1100px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("./assets/hero/hero.jpg");
  background-image: image-set(
    url("./assets/hero/hero.jpg") 1x,
    url("./assets/hero/hero@2x.jpg") 2x,
    url("./assets/hero/hero@3x.jpg") 3x
  );
}
.hero__wrapper {
  background-color: #33333363;
  height: 100%;
}
.hero__container {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  padding: 28px 20px;
}
.hero__content {
  display: grid;
  gap: 18px;
}
.hero h2 {
  font-family: var(--font-secondary);
  font-weight: var(--font-weight-bold);
  font-size: 54px;
  line-height: 32px;
  letter-spacing: 0;
}
.hero p {
  font-family: var(--font-secondary);
  font-weight: var(--font-weight-regular);
  font-size: 22px;
  line-height: 137%;
  letter-spacing: 0;
}

.details {
  padding: 30px 0 48px;
  position: relative;
}
.details__container {
  position: relative;
  width: 100vw;
  margin: 0 auto;
  padding: 0 20px;
}
.details__container::after {
  content: "";
  height: 1px;
  background-color: #e6e6e6;
  position: absolute;
  bottom: -48px;
  left: 20px;
  right: 20px;
}
.details__list {
  display: grid;
  gap: 36px;
}

.details__card {
  display: grid;
  align-items: center;
  gap: 24px;
}
.details__card img {
  width: 100%;
}
.details-card__content {
  display: grid;
  gap: 12px;
}
.details-card__content h3 {
  font-family: var(--font-primary);
  font-weight: var(--font-weight-medium);
  font-size: 22px;
  line-height: 32px;
}
.details-card__content p {
  font-family: var(--font-primary);
  font-weight: var(--font-weight-light);
  font-size: 14px;
  line-height: 22px;
}
.video {
  padding: 48px 0 52px;
}
.video__container {
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
}
.video__content {
  margin: 0;
  width: 100%;
  aspect-ratio: 3 / 2;
  border-radius: 12px;
  border: 1px solid #ffffff20;
}
.video__button {
  cursor: pointer;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: inherit;
  border: none;
  border-radius: 50%;
  width: 70px;
  aspect-ratio: 1;
}

.video__button img {
  display: block;
  width: 100%;
  opacity: 0.8;
}
.video__container:hover img {
  opacity: 0.8 !important;
}
.reviews {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("./assets/reviews/hero.jpg");
  background-image: image-set(
    url("./assets/reviews/reviews-bg.jpg") 1x,
    url("./assets/reviews/reviews-bg@2x.jpg") 2x,
    url("./assets/reviews/reviews-bg@3x.jpg") 3x
  );
  padding: 47.2px 0 57.2px;
}
.reviews__container {
  padding: 0 20px;
}
.reviews__container h2 {
  font-family: var(--font-secondary);
  font-weight: var(--font-weight-semibold);
  font-size: 22px;
  line-height: 33px;
  text-align: center;
}
.reviews__container button {
  font-family: var(--font-primary);
  font-weight: var(--font-weight-medium);
  font-size: 14px;
  line-height: 21px;
  display: block;
  background-color: var(--color-text);
  color: var(--color-bg);
  border: none;
  width: 100%;
  margin: 18.5px auto 0;
  padding: 8px 0;
  cursor: pointer;
  transition: 0.5s ease-in;
}
.reviews__container button:hover {
  background-color: var(--color-bg);
  color: var(--color-text);
}
.footer {
  position: relative;
}
.footer__content::after {
  content: "";
  display: block;
  width: 95vw;
  height: 1px;
  background-color: var(--color-text);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.footer__container {
  padding: 0 20px;
}
.footer__content {
  padding: 48px 0 56px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
  position: relative;
}
.footer__column {
  display: grid;
  gap: 12px;
}
.footer__column lh,
.footer__media p {
  margin-bottom: 20px;
  text-transform: uppercase;
  font-family: var(--font-secondary);
  font-weight: var(--font-weight-semibold);
  font-size: 18px;
}
.footer__column li,
.footer__copyright {
  font-size: 14px;
  font-weight: var(--font-weight-regular);
  font-family: var(--font-secondary);
  opacity: 63%;
  transition: 0.3 ease;
}
.footer__column li:hover {
  transform: scale(1.07);
  opacity: 1;
}

.footer-media__links {
  display: grid;
  gap: 12px;
  grid-template-columns: repeat(3, 32px);
}
.footer-media__links li {
  padding: 2px 4px;
  background-color: var(--color-text);
}

.footer-media__links img {
  width: 24px;
}
.footer__copyright {
  opacity: 1;
  padding: 20px 0;
}
.footer-copyright__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}
@media (min-width: 576px) {
  .hero__container {
    width: 70%;
    padding: 90px 50px 60px;
  }
  .hero h2 {
    line-height: 38px;
  }

  .container {
    padding: 0 48px;
  }
  .details__container::after {
    left: 48px;
    right: 48px;
  }
  .details__list {
    gap: 44px;
  }
  .details__card {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }
  .details__card:nth-child(even) picture {
    order: 2;
  }
  .details__card img {
    max-width: 294px;
  }
  .video__container {
    padding: 0 48px;
  }
  .footer__content {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .footer__copyright {
    padding: 28px 0;
  }
  .footer-copyright__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    gap: 16px;
  }
}
@media (min-width: 768px) {
  .header__container {
    padding: 14px 50px;
  }
  .hero {
    background-position-x: center;
    height: auto;
  }
  .hero__container {
    transform: translateY(0);
    position: static;
    width: 55%;
    padding: 90px 50px 60px;
  }
  .hero h2 {
    font-size: 36px;
    line-height: 44px;
  }
  .hero p {
    font-size: 16px;
  }
  .details {
    padding: 40px 0 52px;
  }
  .container .footer__container {
    padding: 0 60px;
  }
  .details__container::after {
    bottom: -52px;
  }
  .details__list {
    gap: 52px;
  }
  .details__card {
    gap: 48px;
  }
  .details__card img {
    max-width: none;
  }
  .details-card__content {
    gap: 16px;
  }
  .details-card__content h3 {
    font-size: 26px;
    line-height: 36px;
  }
  .details-card__content p {
    font-size: 15px;
    line-height: 22px;
  }
  .video {
    padding: 56px 0 72px;
  }

  .reviews__container button {
    width: inherit;
    padding: 16px 91.5px;
    font-size: 16px;
    line-height: 24px;
  }
}
@media (min-width: 1024px) {
  .container,
  .footer__container {
    margin: 0 auto;
    padding: 0;
    width: 960px;
  }
  .header__container {
    width: 960px;
    padding: 26px 0;
  }
  .header-navigation-content {
    display: flex;
    gap: 48px;
    align-items: center;
  }
  .header-navigation {
    display: flex;
    gap: 48px;
  }
  .header-navigation__list {
    display: flex;
    gap: 25px;
    font-family: var(--font-secondary);
    font-weight: var(--font-weight-semibold);
    font-size: 18px;
    line-height: 25px;
  }
  .header-navigation__list li::after {
    content: "";
    display: block;
    height: 1px;
    background-color: var(--color-text);
    width: 0;
    transition: 0.5s ease;
  }

  .header-navigation__list li,
  .header__filter button {
    transition: 0.3s ease;
    cursor: pointer;
  }
  .header-navigation__list li:hover {
    transform: scale(1.1);
  }
  .header-navigation__list li:hover::after {
    width: 100%;
  }
  .header__filter button:hover {
    background-color: #ffffff50;
  }
  .header__filter {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  .header__filter form {
    border-radius: 12px;
    background-color: #ffffff20;
    padding: 4px 10px;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .header__filter form input {
    outline: none;
    border: none;
    background-color: initial;
  }
  .header__filter form img {
    display: block;
    width: 20px;
  }
  .header__filter button {
    border: none;
    border-radius: 50%;
    background-color: #ffffff20;
    padding: 5px 6.7px;
  }

  .burger-menu,
  .mobile-navigation {
    display: none;
  }
  .hero__container {
    width: 960px;
    margin: 0 auto;
    padding: 147.5px 0 97.5px;
  }
  .hero__content {
    width: 558.91px;
  }
  .hero h2 {
    font-size: 44px;
    line-height: 50px;
  }
  .details {
    padding: 56px 0 72px;
  }

  .details__container::after {
    left: 0;
    right: 0;
    bottom: -72px;
  }
  .details__list {
    gap: 72px;
  }
  .details__card {
    display: flex;
    gap: 66px;
  }
  .details__card img {
    width: 532px;
    height: 355px;
  }
  .details__card:has(h3) {
    gap: 88px;
  }
  .details__card:has(h3) img {
    height: 545px;
  }
  .details-card__content {
    gap: 20px;
  }
  .details-card__content h3 {
    font-size: 34px;
    line-height: 48px;
  }
  .details-card__content p {
    font-size: 19px;
    line-height: 28px;
  }
  .video {
    padding: 68px 0 80px;
  }
  .video__button {
    width: 108px;
  }
  .reviews__container h2 {
    font-size: 28px;
    line-height: 42px;
  }

  .reviews__container button {
    font-size: 18px;
    line-height: 27px;
    width: auto;
  }
  .footer__content {
    padding: 56px 0 72px;
  }
}
@media (min-width: 1451px) {
  .header__container {
    width: 1191px;
    padding: 26px 0 20px;
  }

  .hero__container {
    width: 1191px;
    margin: 0 auto;
    padding: 147.5px 0 97.5px;
  }
  .hero h2 {
    font-size: 52px;
    line-height: 57px;
  }
  .hero p {
    font-size: 18px;
  }
  .details {
    padding: 78px 0 100px;
  }
  .details__container,
  .footer__container {
    width: 1140px;
  }
  .details__container::after {
    bottom: -100px;
  }
  .details__list {
    gap: 100px;
  }
  .details-card__content {
    gap: 25px;
  }
  .details-card__content h3 {
    font-size: 43px;
    line-height: 60px;
  }
  .details-card__content p {
    font-size: 24px;
    line-height: 35px;
  }
  .video {
    padding: 100px 0 139px;
  }
  .reviews__container h2 {
    font-size: 38px;
    line-height: 57px;
  }
  .reviews__container button {
    font-size: 20px;
    line-height: 30px;
  }
  .footer__content {
    padding: 78px 0 100px;
    display: flex;
    justify-content: space-between;
  }
  .footer__copyright {
    padding: 32px 0;
    transform: translateX(70px);
  }
}
